<div class="empty-view-container">
    <span class="icon-container"><i class="<%= icon %>" aria-hidden="true"></i></span>
    <div class="message_container">
        <span class="message-heading"><%= message %></span>
        <span class="message-sub-heading"><%= subMessage %></span>
    </div>
</div>