.h1 {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: #1da1f2;
	top: -20px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 1px;
	width: auto;
	text-decoration: none;
}

.topnav {
	overflow: hidden;
	background-color: #fff;
	float: right;
}

.topnav a {
	float: left;
	color: #1da1f2;
	text-align: center;
	margin-top: 0px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 4px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 800;
	border: 1px solid #fff;
	-webkit-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
}

.topnav a:hover {
	text-decoration: none;
	color: #006dbf;
}

.topnav a.active {
	color: #006dbf;
	border: 1px solid #006dbf;
	border-style: ridge;
}

.post-btn {
	float: left;
	/* margin-left: 1000px;*/
	margin-right: 600px;
	/*padding-right: 10px;*/
	margin-top: 10px;
	background-color: #1da1f2;
	color: #fff;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

/* .btn {
    float: right;
    margin-left: 1000px;
    margin-right: 90px;
    padding-right: 10px;
    margin-top: 10px;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
} */

.btn-comment {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	padding-right: 10px;
	margin-top: 10px;
	background-color: #14ee149d;
	color: #fff;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

/* .receiver {
    float: right;
    margin-left: 1000px;
    margin-right: 90px;
    padding-right: 10px;
    margin-top: 10px;
    background-color: #eef8f5;
    color: rgb(26, 22, 22);
    border-radius: 5px;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
} */

.btn:hover {
	background-color: #006dbf;
	color: #fff;
}

.h-line {
	width: auto;
	margin-top: 20px;
	border-style: ridge;
	color: lightgray;
}

.v-line {
	border-left: 1px ridge lightgray;
	height: 100%;
	position: absolute;
	left: 20%;
	margin-left: -3px;
	top: 48px;
}

.placeholder {
	float: left;
	margin-top: -30px;
	margin-left: 50px;
	padding-left: 10px;
	width: 120px;
	height: 120px;
}

.username {
	float: left;
	margin-top: 0px;
	margin-left: 70px;
	padding-left: 10px;
	width: 120px;
	height: 120px;
}

body {
	background-color: #fff;
	color: #000;
	font-size: 14px;
}

.displayName {
	float: left;
	margin-top: 20px;
	margin-left: -125px;
	padding-left: 10px;
	width: 120px;
	height: 120px;
}

.displayBio {
	float: left;
	margin-top: 70px;
	margin-left: -125px;
	padding-left: 10px;
	width: 120px;
	height: 120px;
}

.post-table {
	float: top;

	border-collapse: collapse;
	width: 100%;
}

.post-comment-table {
	border-collapse: collapse;
	width: 84%;
	margin-bottom: 10px;
	margin-left: 62px;
}

.pos {
	border-radius: 10px;
	border: 1px solid rgba(189, 195, 199, 0.7);
}

.profile-image-thumbnail {
	width: 0.5px;
	height: 0.5px;
	padding-left: 5px;
	padding-right: 5px;
}

.post-row {
	text-align: left;
	/* height: 40px; */
}

.post-comment {
	text-align: right;
	height: 40px;
}

.like-btn {
	float: right;
	width: 100%;
}

.main-container .left-column .dropdown-list .list-group-item {
	background-color: transparent;
	font-size: 110%;
	border: 0px;
}

.main-container .left-column .dropdown-list .list-group-item .list-icon {
	vertical-align: baseline;
	font-size: 120%;
}

.main-container .left-column .dropdown-list .list-group-item .on-hover-show a {
	color: #000;
	text-decoration: none;
	border-radius: 30px;
}

.custom-border {
	border-right: 1px solid rgba(236, 240, 241, 1);
	border-left: 1px solid rgba(236, 240, 241, 1);
}

.custom-border-bottom {
	border-bottom: 1px solid rgba(236, 240, 241, 1);
}

.main-container .middle-column .middle-upper-layer {
	border-bottom: 12px solid rgba(236, 240, 241, 1);
}

.main-container .middle-column .middle-upper-layer textarea {
	padding: 15px;
}

.main-container .middle-column .middle-upper-layer .emoji-picker-icon {
	color: black;
	margin-top: 10px;
	margin-right: 10px;
}

.input-type-dec {
	padding: 15px;
	width: 100%;
	outline: none;
	position: absolute;
	border: none;
	background-color: transparent;
	border-style: none;
	resize: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #1da1f2;
}

.input-type-dec:focus,
.input-type-dec:active,
.input-type-dec:hover {
	color: black;
	border: transparent;
	background-color: transparent;
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

.input-type-dec1 {
	padding: 8px;
	width: 100%;
	outline: none;
	background-color: transparent;
	border-radius: 8px;
	border: 1px solid rgba(41, 128, 185, 1);
	height: 67px !important;
	text-align: left;
	font-size: 15px;
}

.tweet-buttons {
	background: none;
	border: 0px;
	padding: 5px 10px 5px 10px;
}

.retweet-icon {
	border-radius: 50px;
	padding: 5px 10px 5px 10px;
}

.tweet-buttons:hover .retweet-icon {
	color: rgba(26, 188, 156, 1);
	/* background-color: rgba(26, 188, 156, 0.1); */
}

.edit-icon {
	border-radius: 50px;
	padding: 5px 10px 5px 10px;
}

.tweet-buttons:hover .edit-icon {
	color: rgba(241, 196, 15, 1);
	background-color: rgba(241, 196, 15, 0.1);
}

.love-icon {
	border-radius: 50px;
	padding: 5px 10px 5px 10px;
}

.tweet-buttons:hover .love-icon {
	color: rgba(192, 57, 43, 1);
	background-color: rgba(192, 57, 43, 0.1);
}

.comment-icon {
	border-radius: 50px;
	padding: 5px 10px 5px 10px;
}

.tweet-buttons:hover .comment-icon {
	color: rgba(52, 152, 219, 1);
	background-color: rgba(52, 152, 219, 0.1);
}
.feedNotification {
	font-size: 14px;
	color: gray;
}
.postTimestamp {
	font-size: 12px;
	color: gray;
}
.tag_username {
	font-size: 12px;
	color: gray;
}
.controls {
	display: flex;
	padding-top: 18px;
	justify-content: space-between;
}
.image-upload {
	/*border: 1px solid lightblue;
    padding: 3px 10px;
    
    border-radius: 4px;*/
	cursor: pointer;
	margin-left: 80px;
}
.image-upload svg {
	width: 22px;
}
.image-previews {
	width: 100%;
	/* border: 1px solid gray; */
	padding: 8px;
	display: none;

	margin-top: 10px;
	margin-left: 45px;
}
.image-wrapper {
	height: 150px;
	width: 150px;
}
.image-pre {
	background: url('https://images.unsplash.com/photo-1591884807190-f2ac9e50be50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=250&q=60');
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	display: block;
	position: relative;
}
.img-close {
	position: absolute;
	top: 2px;
	left: 4px;
	cursor: pointer;
	font-size: 18px;
}
.post-img-wrapper {
	width: auto;
	height: 325px;
}
.post-image {
	width: 100%;
	height: 100%;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 8px;
	cursor: pointer;
}
.feeds .emoji-picker-icon {
	position: absolute;
	bottom: 3px;
	left: 52px;
	top: 78px;
}
.comment-background {
	margin-right: 20px;
	word-break: break-word;
}
.post-image-full-wrapper {
	height: auto;
	max-height: 100%;
	width: auto;
}
.post-image-full-wrapper img {
	background-size: contain;
	height: 100%;
	width: 100%;
}
.comment-controls {
	justify-content: space-between;
	display: flex;
}
.comment-controls svg {
	width: 24px;
	padding-top: 10px;
	cursor: pointer;
}
.comment-container {
	position: relative;
	border: 1px solid lightgray;
	padding: 10px;
	border-radius: 6px;
}
.comment-container .emoji-picker-icon {
	position: absolute;
	left: 8%;
	top: 73%;
	width: 8%;
}
.comment-container .emoji-wysiwyg-editor {
	border: none;
}

.emoji-wysiwyg-editor {
	padding: 5px 12px !important;
}
.comment-modal .image-preview {
	width: 120px;
	margin: 10px 0px;
}
.comment-modal .image-preview img {
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}
.comment-post-image-close-wrapper {
	position: relative;
}
.comment-post-image-wrapper {
	margin: 12px 0px;
	box-sizing: border-box;
	width: auto;
	height: 180px;
}
.all-posts {
	padding: 0;
}

.table-container {
	padding: 10px;
	border-bottom: 2px solid rgba(236, 240, 241, 1);
}
.post-retweet-preview {
	margin: 8px 0px;
}
.post-retweet-preview img {
	width: 100%;
	border-radius: 6px;
}
.post-text-area {
	height: 75px !important;
}
.sidemenu-bio a {
	word-break: break-all;
}
.mr-3,
.mx-3 {
	margin-right: 0.5rem !important;
}
.user_group_item {
	color: black;
}
.user_group_item:hover {
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.user_group_item li:hover {
	background-color: #eee;
}
