.empty-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0px;
}
.icon-container {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.icon-container i.fa {
    font-size: 20px;
}
.message_container {
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    align-items: center;
}
.message-heading {
    font-size: 18px;
    font-weight: bold;
}
.message-sub-heading {
    color: gray;
}
.left-column {
    padding: 0px;
}
.position-fixed {
    position: static!important;
    padding: 20px;
}
.dropdown-list {
    padding: 0px !important;
    background: #EDF0F2;
    border-radius: 6px;
}
.dropdown-list .list-group-item {
    border-bottom: 0.5px solid rgb(193, 193, 193) !important;
    padding: 20px 12px;
    font-size: 15px !important;
}

li.list-group-item a:hover {
    background: #d3e4f0 !important;
    color: #1DA1F2 !important;
}
li.list-group-item.active a {
    /* color: white !important; */
    color: #1DA1F2 !important;
    font-weight: bold;
}
.mh-100 .left-column {
    /* height: 100vh !important; */
    /* height: 100%; */
    min-height: 100vh;
}