.notification_item {
    display: flex;
    flex-direction: row;
    padding-bottom: 14px;
    margin: 10px 0px;
    border-bottom: 1px solid gainsboro;
}
.notification_item_details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.notification_image {
    width: 55px;
    height: 52px;
}
.notification_user {
    font-weight: bold;
}
.notification_activity {
    font-size: 12px;
    color: gray;
}
.notification_time {
    position: absolute;
    right: 35px;
    font-size: 12px;
}
.notification_text{
    font-size: 13px;
}