<div class="login-page">

    <mat-card *ngIf="user" class="create-user-card">

        <div class="flex-it image">
            <img *ngIf="user.profile_pic" [src]="user.profile_pic" alt="Image Source" class="icon-image">
        </div>

        <div class="flex-it">
            <mat-form-field class="card-item">
                <mat-label>Name</mat-label>
                <input matInput disabled value="{{user.name}}">
            </mat-form-field>
            <mat-form-field class="card-item">
                <mat-label>Username</mat-label>
                <input matInput disabled value="{{user.username}}">
            </mat-form-field>
        </div>

        <mat-form-field class="card-item">
            <mat-label>Email Id</mat-label>
            <input matInput disabled value="{{user.EmailID}}">
        </mat-form-field>

        <mat-form-field class="card-item">
            <mat-label>Bio</mat-label>
            <input matInput disabled value="{{user.bio}}">
        </mat-form-field>

        <h2>Change Password: </h2>

        <div class="flex-it center">
            <mat-form-field class="card-item">
                <mat-label>Current Password</mat-label>
                <input matInput placeholder="Current Password" [(ngModel)]="currentPassword" [type]="passwordVisible ? 'text' : 'password'">
            </mat-form-field>
            <mat-icon class="icon-style" (click)="togglePasswordVisibility()">{{passwordVisible ? "visibility_off" : "visibility"}}</mat-icon>
        </div>

        <div class="flex-it center">
            <mat-form-field class="card-item">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New Password" [(ngModel)]="newPassword" [type]="passwordVisible ? 'text' : 'password'">
            </mat-form-field>
            <mat-icon class="icon-style" (click)="togglePasswordVisibility()">{{passwordVisible ? "visibility_off" : "visibility"}}</mat-icon>
        </div>

        <div class="flex-it center">
            <mat-form-field class="card-item">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" [(ngModel)]="cnewPassword" [type]="passwordVisible ? 'text' : 'password'">
            </mat-form-field>
            <mat-icon class="icon-style" (click)="togglePasswordVisibility()">{{passwordVisible ? "visibility_off" : "visibility"}}</mat-icon>
        </div>

        <div class="flex-it center">
            <button
                    (click)="changePassword()"
                    mat-raised-button
                    color="primary"
                    style="margin-top: 1em; background-color: rgb(29, 161, 242); width: 200px;">Change Password
            </button>
        </div>

    </mat-card>
</div>
