<%- include partials/head.ejs -%>

<link href="./../assets/svgavatars/css/normalize.css" rel="stylesheet">
<link href="./../assets/svgavatars/css/spectrum.css" rel="stylesheet">
<link href="./../assets/svgavatars/css/svgavatars.css" rel="stylesheet">

<link
    href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300,500,700&subset=latin,cyrillic-ext,cyrillic,latin-ext"
    rel="stylesheet" type="text/css">

<script src="./../assets/svgavatars/js/jquery-3.4.1.min.js"></script>

<script src="./../assets/svgavatars/js/svgavatars.tools.js"></script>
<script src="./../assets/svgavatars/js/svgavatars.defaults.js"></script>
<script src="./../assets/svgavatars/js/languages/svgavatars.en.js"></script>
<script src="./../assets/svgavatars/js/svgavatars.core.min.js"></script>

<link rel="stylesheet" href="./../style/avatar.css">

</head>

<body>

    <div class="container">
        <div id="svgAvatars"></div>
    </div>

    <%- include partials/end.ejs -%>