<%- include partials/head.ejs -%>
<link rel="stylesheet" href="../style/login.css" type="text/css">
</head>

<body>
    <div class="login-card">
        <% if(message) { %>
        <div id="error" class="quick-switch">
            <p class="error-message"><%= message %></p>
        </div>
        <% } %>
        <div class="card-container">
            <h1>Login to Community Connect</h1>
            <form action="/login" method="POST" novalidate>
                <input type="email" id="email" name="email" placeholder="Enter email"
                    value="<%= input ? input.email: '' %>" class="form-control form-control-sm" required />
                <input type="password" id="password" name="password" class="form-control form-control-sm"
                    placeholder="Enter password" required />
                <button class="btn btn-primary btn-sm signin w-100">Sign In</button>
            </form>
            <hr>
            <ul class="bottom-form-link">
                <li><a href="#">Can't log
                        in?</a></li>
                <li><a href="/signup">Sign up for an
                        account</a></li>
            </ul>
        </div>
    </div>
    <%- include partials/end.ejs -%>