<%- include partials/head.ejs -%>
<link rel="stylesheet" href="../style/first_login.css" type="text/css">
</head>

<body>
  <div class="login-card">
    <div class="card-container">
      <table class="login-form">
        <tr>
          <td>
            <h2>Community Connect</h2>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Enter your ID code and click on the 'sign in' button below.</h3>
          </td>
        </tr>
        <tr>
          <form id="login-form" method="POST" action="/user/idlogin">
            <td>
              <input 
                type="text" 
                id="idcode" 
                name="idcode" 
                placeholder="ID Code" 
                value="<%= form.length>0 ? form[0].idcode : 'john_doe' %>"
                required>
        <tr>
          <td><button class="Login-button" type="submit">Sign in</button>
            </form>
            <form id="login-form" action="/profile">
              <input type="hidden" value="empty">
              <button class="Login-button" type="submit">Sign up</button>
            </form>
          </td>
        </tr>
        <% if(message.length > 0) { %>
        <tr>
          <div class="alert alert-primary" role="alert">
            <%= message %>
          </div>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
  <%- include partials/end.ejs -%>