<%- include partials/head.ejs -%>
<link rel="stylesheet" href="../style/login.css" type="text/css">
</head>

<body>
    <div class="login-card">
        <div class="card-container">
            <% if(error) { %>
            <div id="error" class="quick-switch">
                <p class="error-message"><%= error %></p>
            </div>
            <% } %>
            <h1 class="signup-title">Create credentials for Community Connect access.</h1>
            <form action="sign-up" method="POST">
                <input type="text" id="idCode" name="idCode" placeholder="Enter ID code"
                    class="form-control form-control-sm" required />
                <button type="submit" class="btn btn-sm btn-primary signin w-100">Create credentials</button>
            </form>
            <hr>
            <ul class="bottom-form-link">
                <li><a href="/">Already have credentials? Access Community Connect here.</a></li>
            </ul>
        </div>
    </div>
    <%- include partials/end.ejs -%>