<%- include('./../partials/head.ejs') %>
<link rel="stylesheet" href="./../../style/404.css">
</head>

<body class="container">

    <div>
        <h1>404</h1>
        <h5>Page not found</h5>
        <p>Sorry, the web page you are looking for was not found.</p>
        <hr>

        <a href="/"><button type="button" class="btn btn-outline-dark btn-sm">Go Home</button></a>

    </div>

    <%- include('./../partials/end.ejs') %>