<%- include('./../partials/head.ejs') %>
<link rel="stylesheet" href="./../../style/404.css">
</head>

<body class="container">

    <div>
        <h1>500</h1>
        <h5>Something went wrong</h5>
        <p>Sorry, Something went wrong. We are working on fixing the problem.</p>
        <hr>

        <a href="/"><button type="button" class="btn btn-outline-dark btn-sm">Go Home</button></a>

    </div>

    <%- include('./../partials/end.ejs') %>