<div class="notifications">
    <div class="flex-it">
    <mat-card-header>
            <mat-card-title style="font-size: x-large">Notifications</mat-card-title>
    </mat-card-header>
        <button *ngIf="showAllReadButton()" (click)="markAllNotifAsRead()"
                mat-stroked-button color="warn"
                style="background-color: white">Mark all as read
        </button>
    </div>


    <mat-card (click)="openDetailPage(item)"
            *ngFor="let item of notificationList; let i = index"
            class="example-card" style="display: flex; flex: 1"
            [ngClass]="{ notSeen : !item.seen }"
    >
        <div>{{item.status}}</div>
        <button *ngIf="!item.seen" (click)="markNotifAsRead(item); $event.stopPropagation()"
                mat-stroked-button color="warn"
                style="background-color: white">Mark as read
        </button>

    </mat-card>
</div>
