.group-member-item {
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding: 12px 15px;
}
.member-avatar {
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.member-details {
    display: flex;
    flex-direction: column;
    padding: 0px 18px;
    justify-content: center;
}
.member-name {
	font-weight: bold;
    font-size: 12px;
}
.member-email {
    color: gray;
    font-size: 10px;
}
.divider {
    margin-top: 0;
    margin-bottom: 0;
}
.all-users {
	height: 95vh;
	overflow: auto;
	padding-left: 0;
}
.user_header {
	display: flex;
    justify-content: center;
    align-items: center;
	height: 45px;
	position: fixed;
    top: 0;
    background: white;
	width: 100%;
	border-bottom: 1px solid gray;
}
.heading {
	padding-left: 8%;
}
.user_list {
	margin-top: 38px;
}




.add-member {
    font-size: 14px;
}
.member-total {
    font-weight: bold;
    color: gray;
}
.group-main {
    display: flex;
    flex-direction: column;
}
.stiched {
    margin: 7px;
    /* //border-top: 2px solid #9c9c9c; */
}
.group-action {
    display: flex;
    justify-content: space-between;
}

.tagify__tag-text {
	font-size: 12px !important;
}
.input {
	font-size: 13px;
}

.trash-icon {
    position: absolute;
    right: 30px;
    width: 35px;
    border-radius: 50%;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 3px 0 rgba(32, 33, 36, .28);
    align-items: center;
}
.group_member_autocomplete {
    height: 120px;
    overflow: auto;
}