body {
    height: 100vh;
    background-color: lightgray;
    background-image: url("../../assets/joshua-rawson-harris-KRELIShKxTM-unsplash.jpg");
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}
.main {
    width: 100%;
    height: 100%;
    justify-content: center;
    /* align-items: center; */
    display: flex;
}
.admin_login_card {
    width: 450px;
    height: 450px;
    background: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 4px;
}
.card-container {
    width: 100%;
}
.admin_login_btn {
    text-align: end;
    margin-right: 15px;
    float: right;
}
.border_heading {
    width: 230px;
    height: 5px;
    display: flex;
}
.border_one {
    flex: 2;
}
.border_two {
    background: #ff0c0c;
    flex: 2;
}