<div class="homepage">
  <div class="sidebar">
    <mat-list class="sidebar-container">
      <mat-list-item
        *ngFor="let item of sidebarList; let i = index"
        class="sidebar-item"
        [ngClass]="{ selected: i === isSelectedItem }"
        (click)="menuSelect(i)"
      >
        <mat-icon *ngIf="i !== 1 && i !== 2" class="icon">{{sidebarIconList[i]}}</mat-icon>
        <img *ngIf="i===1" [src]="imageSource" alt="Image Source" class="icon-image">
        <mat-icon *ngIf="i === 2 && currentUser && currentUser.notifications > 0" class="icon" matBadge="{{currentUser.notifications ? currentUser.notifications : '*'}}" matBadgeColor="warn">{{sidebarIconList[i]}}</mat-icon>
        <mat-icon *ngIf="i === 2 && currentUser && currentUser.notifications <= 0" class="icon">{{sidebarIconList[i]}}</mat-icon>

        <div class="text">
          {{ item }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="feeds">
    <app-feed-header *ngIf="isSelectedItem == 0" [currentUser]="currentUser" (postAddedStatusChange)="loadPosts()"></app-feed-header>
    <div *ngIf="isSelectedItem == 0" class="feeds-posts">
      <div style="margin-top: 1em;">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <app-feed-item *ngFor="let item of feedList; let i = index" [feed]="item" (feedStatusChange)="loadPosts()"></app-feed-item>
      </div>
    </div>
    <div *ngIf="isSelectedItem == 1">
      <app-profile></app-profile>
    </div>
    <div *ngIf="isSelectedItem == 2">
      <app-notification></app-notification>
    </div>
    <div *ngIf="isSelectedItem == -1">
      <app-connections [userProfileShort]="this.selectedUserProfile"></app-connections>
    </div>
  </div>
  <div class="connections">
    <div class="sidebar">
      <div class="title">Connections</div>
      <mat-list class="sidebar-container">
        <mat-list-item
          *ngFor="let user of connectionList"
          class="connections-item"
          (click)="getUserProfile(user)"
        >
          <img [src]="user.profile_pic" alt="Image Source" class="icon-image">
          <div style="margin-left: 1.5em;">{{ user.username }}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
