<div class="homepage">
  <div class="sidebar">
    <mat-list class="sidebar-container">
      <mat-list-item
        *ngFor="let item of sidebarList; let i = index"
        class="sidebar-item"
        [ngClass]="{ selected: i === isSelectedItem }"
        (click)="menuSelect(i)"
      >
      <fa-icon class="icon" [icon]="sidebarIconList[i]"></fa-icon>
        <div class="text">
          {{ item }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="feeds">
    <div class="feeds-header">header</div>
    <div class="feeds-posts">posts</div>
  </div>
  <div class="connections">
    <div class="sidebar">
      <div class="title">Connections</div>
      <mat-list class="sidebar-container">
        <mat-list-item
          *ngFor="let user of connectionList"
          class="connections-item"
        >
          <div>
            {{ user }}
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
