<div class="homepage">
  <div class="sidebar">
    <mat-list class="sidebar-container">
      <mat-list-item
        *ngFor="let item of sidebarList; let i = index"
        class="sidebar-item"
        [ngClass]="{ selected: i === isSelectedItem }"
        (click)="menuSelect(i)"
      >
        <mat-icon *ngIf="i!==1" class="icon">{{sidebarIconList[i]}}</mat-icon>
        <img *ngIf="i===1" [src]="imageSource" alt="Image Source" class="icon-image">
        <div class="text">
          {{ item }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="feeds">
    <app-feed-header></app-feed-header>
    <div class="feeds-posts">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <app-feed-item *ngFor="let item of feedList; let i = index"></app-feed-item>
    </div>
  </div>
  <div class="connections">
    <div class="sidebar">
      <div class="title">Connections</div>
      <mat-list class="sidebar-container">
        <mat-list-item
          *ngFor="let user of connectionList"
          class="connections-item"
        >
          <img [src]="user.profile_pic" alt="Image Source" class="icon-image">
          <div style="margin-left: 1.5em;">@{{ user.username }}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
