<div class="login-page">
  <mat-card  *ngIf="showLogin" class="login-card">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="title">Community Connect</div>
        <div class="subtitle">Access Community Connect!</div>
        <br />
        <mat-error *ngIf="loginInvalid">
        </mat-error>
        <mat-form-field class="full-width-input" style="margin-top: 0.5em;">
          <input
            matInput
            placeholder="Email"
            formControlName="username"
            autocomplete="username"
            required
          />
          <mat-error> Please provide a valid email address </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            autocomplete="current-password"
            required
          />
          <mat-error> Please provide a valid password </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          style="margin-top: 1em; background-color: rgb(29, 161, 242)"
        >
          Access Community Connect
        </button>
      </form>
    </mat-card-content>
    <br />
    <div>
      First time here?
      <a class="clickable-link" (click)="toggleLogin()">Create credentials</a>
    </div>
  </mat-card>

  <mat-card  *ngIf="!showLogin" class="login-card">
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
        <div class="title">Community Connect</div>
        <div class="subtitle">Create credentials for Community Connect Access</div>
        <br />
        <mat-error *ngIf="loginCodeInvalid">
          The code was not recognized
        </mat-error>
        <mat-form-field class="full-width-input">
          <input
            matInput
            type="text"
            placeholder="Access Code"
            formControlName="accessCode"
            required
          />
          <mat-error> Please provide a valid access code </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          style="margin-top: 1em; background-color: rgb(29, 161, 242)"
        >
          Create Credentials
        </button>
      </form>
    </mat-card-content>
    <br />
    <div>
      Already have credentials?
      <a class="clickable-link" (click)="toggleLogin()">Access Community Connect here.</a>
    </div>
  </mat-card>
</div>
