<div class="tweet-container">
    <mat-card class="tweet-card">
      <div class="tweet-info">
        <div class="profile-pic">
          <img *ngIf="authorImage" [src]="authorImage" alt="Image Source" class="icon-image">
          <mat-icon *ngIf="!authorImage">face</mat-icon>
        </div>
        <div class="tweet">
          <div class="name">{{authorName}}</div>
          <div class="text">{{body}}</div>
          <img class="image" *ngIf="image != null" [src]="image" alt="Image Source">
        </div>
      </div>
    </mat-card>
</div>
