<mat-card class="create-user-card">
    <div class="flex-it image">
        <div id="svgAvatars">
            <div style="text-align: center">
                Please keep refreshing this page every 2 seconds until this screen is not blank.<br><br>
                We apologize for any inconvenience. If the issue still persists, try using a different browser for creating your credentials.<br><br>
                Thank you for your patience.
            </div>
        </div>
    </div>
</mat-card>
