<div>
    <h2>Quoting to {{data.author_name}}</h2>
    <div class="comment-area">
        <mat-form-field
                style="flex: 1;"
        >
            <mat-label>Add Quote</mat-label>
            <textarea
                    [(ngModel)]='quoteStr'
                    #message
                    matInput
                    placeholder="Ex. I am feeling..."
                    maxlength="280"
                    rows="5"
            ></textarea>
            <mat-hint align="end"> {{ message.value.length }} / 280</mat-hint>
        </mat-form-field>
    </div>
    <app-feed-item-minimized [authorImage]="data.author_profile_pic" [authorName]="data.author_name"
                             [body]="data.tweet.body" [image]="data.tweet.image"
                             [created_at]="data.tweet.parent_id.created_at"
    ></app-feed-item-minimized>
    <mat-dialog-actions class="separated-buttons">
        <button class="comment-button" mat-button (click)="onCloseConfirm()"
                [disabled]="buttonDisabled || quoteStr? quoteStr.length === 0: true">CONFIRM
        </button>
        <button class="cancel-button" mat-button (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>
</div>
