.example-card {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;
  }
  
  .example-header-image {
    background-size: cover;
    .icon-image {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }
  
  .feed-post {
      flex: 1;
    display: flex;
  }
  
  .post-button {
      background-color: #1da1f2;
      color: white
  }
  
  .post-img-button {
      color: #007bff
  }

  .emoji-button-color {
    color: rgb(220,150,50)
  }
  
  .post-button:hover {
      background-color: #007bff;
  }

.post-button:disabled {
  background-color: rgb(247, 247, 247);
  color: white
}
  
  .center-stuff {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
  }
  
  .end-stuff {
      display: flex;
      justify-content: space-between;
      margin-left: 2em;
      margin-right: 2em;
  }

  .middle-image {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .emoji-stuff {
    position: absolute;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
  }
