.tweet-card {
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.icon-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.tweet-card:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.tweet-info {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  .profile-pic {
    min-width: 50px;
    min-height: 50px;
    margin-left: 1em;
    margin-right: 0.5em;
  }
  .tweet {
    flex: 1;
    margin-right: 0.5em;
    display: block;
    .name {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      .actual-name {
        font-weight: bold;
      }
      .time-stuff {
        font-size: 12px;
        color: rgb(111, 111, 111);
      }
    }
    .text {
        min-width: 60px;
    }
    .image {
      margin-top: 1em;
      max-width: 15em;
      max-height: 15em;
    }
  }
}

.actions {
  display: flex;
  justify-content: space-around;
  .action-button {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .repost {
    color: rgb(0, 64, 95);
  }
  .like {
    color: rgb(0, 64, 95);
  }
  .reply {
    color: rgb(0, 64, 95);
  }
  .liked {
    color: rgb(204, 38, 86);
  }
  .reposted {
    color: rgb(73, 183, 97);
  }
  .repost:hover {
    color: rgb(73, 183, 97);
    .repost-button {
        background-color: rgb(231, 241, 233);
    }
  }
  .like:hover {
    color: rgb(204, 38, 86);
    .like-button {
        background-color: rgb(243, 228, 232);
    }
  }
  .reply:hover {
    color: rgb(35, 151, 234);
    .reply-button {
        background-color: rgb(230, 238, 246);
    }
  }
}
